<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Uptime Dashboard</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
<main role="main" class="container">
    <div class="row">
        <div class="alert alert-info">
        Response times are over the past 24 hours. Apdex is a number calculated based on response time 
        between 0 and 1 over the past 24 hours, below 1 means that the check isn't responding as fast as desired.
        </div>
    </div>
    <div class="row">
    {% for check in checks %}
        <div class="col-12 col-sm-6 col-md-4">
            <div class="alert alert-{{check.alert}}">
            {% if check.alias %}
                {{check.alias}}
            {% else %}
                {{check.url}}
            {% endif %}
            <b>
            {% if check.down %}
                DOWN {{checks.downtimes[0].error }}
            {% else %}
                UP
            {% endif %}
            </b>
            <br>
            Apdex: {{check.metrics.apdex}}<br>
            Response time: {{check.metrics.timings.total}}ms<br>
            Last downtime: 
            {% if check.downtimes.length %}
                {% if check.down %}
                    Since 
                {% else %}
                    From
                {% endif %}
                {{check.downtimes[0].started_at}} 
                {% if not check.down %}
                    to {{check.downtimes[0].ended_at}}
                {% endif %}
                - {{check.downtimes[0].error}}
            {% else %}
                Never
            {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</main>
</html>
